langchain
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
openai
pypdf
tiktoken
streamlit
python-dotenv
sentence-transformers
chromadb
streamlit-chat
nltk
spacy
jupyter
notebook
ipykernel
PyPDF2 
pdfminer.six
reportlab