langchain
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
openai
pypdf
tiktoken
streamlit
python-dotenv
sentence-transformers
chromadb
streamlit-chat
nltk
spacy
jupyter
notebook
ipykernel
PyPDF2 
markdown2
fpdf
pdfminer.six
reportlab
langchain_huggingface
langchain_google_genai
google_ai_generative